body {
    margin: 0px;
    padding: 0px;
}
canvas {
}
#grid {
    position: absolute;
    left: 460px;
    top: 30px;
}
#grid .actor {
    width: 64px;
    height: 64px;
    float: left;
    margin: 5px;
    display: none;
}
#grid .actor.focused {
    border: 2px solid #00F;
    background-color: #006;
    margin: 3px;
}
#grid .actor img {
    width: 64px;
    height: 64px;
    border: 2px solid black;
}
#form {
  position: absolute;
  left: 460px;
  top: 150px;
  font : 14px helvetica;
}
#form .label, #form .field{
  display: inline-block;
}
#form .row{
  display: block;
}
#form #add_sector button{
  width: 100%;
}
#form #done{
  height: 50px;
  padding: 10px 0px;
}
#form #done button{
  float: right;
  height: 40px;
  width: 60px;
}
#form .sector{
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #D4E4EA;
}
#form .sector .buttons button{
  float: right;
}
#form .sector .buttons{
  height: 25px;
  padding-top: 6px;
}
#form .sector .subsector{
  margin-top: 10px;
  background-color: #D4E4EA;
  padding: 10px;
}
#form .title, #form .subtitle{
  font-weight: bold;
  padding: 15px;
  display: block;
}
#form .title{
  padding: 5px;
}
#form .subtitle, #form .subsubtitle{
  display: block;
}
#form .subtitle{
  font-weight: bold;
  padding: 5px 0px;
}
#form .subsubtitle{
  padding-bottom: 10px;
}
