body {
  text-align: center;
  background: #1c1c1c;
}
#wrapper {
  width: 940px;
  position: relative;
  padding: 10px;
  padding-bottom: 51px;
  margin: auto;
  background-color: #FEFEE0;
  border: 3px solid #ab8211;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  min-height: 550px;
  background-image: url("socialcheesecake_background.png");
  background-repeat: no-repeat;
  background-position: center;
}
#footer {
  width: 920px;
  padding: 10px;
  border: 1px solid #8E846B;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin-top: 15px;
  font: 12px helvetica;
  bottom: 10px;
  position: absolute;
  background: rgba(254, 238, 189, 0.5);
}
#left_column {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 440px;
  height: 570px;
  border: 1px solid #8E846B;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background: rgba(254, 238, 189, 0.5);
}
#right_column {
  float: right;
  padding: 0px;
  margin: 0px;
  width: 490px;
}
canvas {
  position: relative !important;
}
.clearfloat {
  clear: both;
  height: 0px;
}
#cheesecake {
  height: 440px;
  width: 440px;
  display: block;
  float: left;
}
#briefing {
  height: 120px;
  width: 940px;
  display: block;
  float: right;
}
#briefing #logo {
  height: 100px;
  width: 100px;
  margin: 10px auto;
}
#briefing #logo img {
  height: 100px;
  width: 100px;
  padding: 0px;
  margin: 0px;
}
#grid {
  display: block;
  float: left;
  width: 440px;
}
#grid .actor {
  width: 64px;
  height: 64px;
  float: left;
  margin: 3px;
  display: none;
  opacity: 0.8;
}
#grid .actor.focused {
  border: 2px solid #8E846B;
  background-color: #ffe481;
  margin: 1px;
  opacity: 1;
}
#grid .actor img {
  width: 64px;
  height: 64px;
}
#form {
  width: 490px;
  font: 12px helvetica;
  display: block;
  float: right;
}
#form .label, #form .field {
  display: inline-block;
}
#form .row {
  display: block;
}
#form #add_sector button {
  width: 100%;
}
#form #done {
  height: 50px;
  padding: 10px 0px;
}
#form #done button {
  float: right;
  height: 40px;
  width: 60px;
}
#form .sector {
  background: rgba(238,220,183,0.5);
  padding: 5px 10px;
  border: 1px solid #8E846B;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
#form .sector div {
  text-align: left;
}
#form .sector blockquote {
  margin-top: 0px;
}
#form .sector .subsector {
  margin: 5px;
  border: 1px solid #8E846B;
  background: rgba(238,220,183,0.5);
  padding: 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
#form .sector button {
  margin: auto;
}
#form .title {
  padding: 5px;
}
#form .title, #form .subtitle, #form .subsubtitle {
  font-weight: bold;
  display: block;
}
#form .subtitle, #form .subsubtitle {
  display: block;
}
#form .subtitle {
  font-weight: bold;
  padding: 5px 0px;
}
#form .subsubtitle {
}
#settings-0 {
  height: 447px;
}
#settings-1 {
  padding: 0px;
  height: 473px;
}
#sectors li a {
  padding: .5em 0px;
  width: 27px;
}
#sectors .ui-tabs-nav li {
  margin: 0px;
  width: 27px;
  text-align: center;
}
#settings-1 .ui-tabs-panel {
  padding-bottom: 0px !important;
  height: 384px;
  background: none;
}
.ui-widget-content {
  background: rgba(254, 238, 189, 0.5);
}
